main{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    grid-gap: 1em;

    .menu-item{

        img{
            width: 100%;
            height: auto;
            border-radius: 16px;
        }

        a{
            margin-top: 0.25em;
            text-decoration: none;
            padding: 0.5em 2em;
            background: rgb(221, 59, 59);
            display: inline-block;
            color: white;
            border-radius: 16px;
            transition: all 0.1s ease-in-out;

            &:hover{
                filter: brightness(0.9);
            }
        }
    }
}